<form>
	<select id="__logSwitch">
		{% for file in logFiles %}
			<option{{ file == currentLog ? ' selected' }}>{{ file }}</option>
		{% endfor %}
	</select>
</form>

<hr style="margin-bottom:0">

<pre style="flex-grow:1;overflow:auto;padding:24px 24px 48px;margin:0 -24px;"><!--
	--><code id="__log">Loading...</code>
</pre>